# Copy this file to key.properties and fill in your keystore details
# DO NOT commit key.properties to version control!

storePassword=YOUR_STORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=YOUR_KEY_ALIAS
storeFile=app/keystore/YOUR_KEYSTORE_FILE.jks
